#bang {
    width: 550px;
    height: 550px;
    /*border: 1px solid #000;*/
    position: relative;
    margin: 0 auto;
}
#centerC {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #2A3466;
    position: absolute;
    left: 225px;
    top: 225px;;
    line-height: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    color: white;
}
#centerCSpan {
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 130px;
    background-color: #2A3466;
    position: absolute;
    left: 210px;
    top: 210px;
    opacity:0.2;
}
#circle1 {
    width: 219px;
    height: 219px;
    border-radius: 200px;
    position: absolute;
    left: 165px;
    top: 165px;
    border: 1px dashed silver;
}
#circle2 {
    width: 198px;
    height: 198px;
    border-radius: 200px;
    position: absolute;
    left: 175px;
    top: 175px;
    border: 2px dashed #2A3466;
}
#circle3 {
    width: 430px;
    height: 430px;
    border-radius: 430px;
    position: absolute;
    left: 60px;
    top: 60px;
    border: 1px dashed silver;
}